@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap');

*,*::after,*::before{
  box-sizing: border-box;
  font-weight: 500;}

body{
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}
a{
  text-decoration: none;
  
}

.swiper-button-prev{
	left: 0px !important;
	right: auto;
}
.swiper-button-next{
  right: 0px !important;
  left: auto;

}
.box{
  /* transform: translateX(-50%); */
  opacity: 0.25;

}
.appear{
  transition: transform 0.5s ease-in,opacity 0.5s ease;
 /* transform: translateX(0) ; */
 opacity: 1;
}
iframe{
  border: 0;
  width: 100%;
  padding: 0;
}
.type{
  font-weight: 900;
  font-size: 25px;
}

.fontcolorhover:hover{
  color: black;
}